@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding:0px;
    margin:0px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    color:#fff;

}
F8BD66



.invarted {
    filter: invert(1) hue-rotate(180deg);
}

.toggler {
    position: absolute;
    right: 10px;
}


body{
    background: rgb(241, 217, 221);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    overflow: hidden;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:10px;


}
.calc{
    width:100%;
    background:#000;
}
.screen{
    width:100%;
    height:20%;
    position: relative;
    overflow-x:hidden;
    margin:auto;
    background:#000;
    

}

.keys{
    height:80%; 
}

.row-1,.row-2,.row-3,.row-4,.row-5,.row-6{
    width:100%;
    padding:2px 2px;
    display: flex;
    justify-content: space-between;
    
}
.row-1 button,.row-2 button,.row-3 button,.row-4 button,.row-5 button,.row-6 button{
    width:80px;
    height:80px;
    margin:2px;
    border:0px;
     font-weight: 900;
    font-size: 1.3rem;
    border-radius: 50%; 
    
    
}
.operator{
background-color:rgb(231, 156, 16);
}
.number{
    background-color:#616168;
}

.calc-screen{
    border:1px solid ;
    text-align: right;
    font-size:1.5rem;
    width:100%;
    border:0px;
}

.calc-screen:focus{
    outline:none;
}

.result-screen{
    text-align: right;
    padding-top:30px;
    height:40px;
    font-size: 3rem;
    height:120px;
    width:100%;
    border:0px;
    

}
.result-screen {
    outline:none;

}


#nob i{
    color:#2A2C43;
    font-size: 2.4rem;
    
}

@media(max-width:280px){
    .row-1 button,.row-2 button,.row-3 button,.row-4 button,.row-5 button,.row-6 button{
        width:60px;
        height:60px;
    }
}
@media(min-height:700px){
    .calc-screen{
        min-height:50px;
    }
}

@media(min-width:760px){
    .calc{
        font-size:1.4rem;
        width:500px;
        border-radius: 50px 50px 50px 50px;
        padding:20px;
    }
    .screen{

        border-radius: 10px 10px 0px 0px;

    }

    .row-1 button,.row-2 button,.row-3 button,.row-4 button,.row-5 button,.row-6 button{
        width:100px;
        height:100px;
    }
}


.dark-mode {
    background:#2A2C43;
}
.dark-mode #nob {
    background:#2A2C43;
}
.dark-mode #nob i{
    color:#fff;
}